{% extends 'Analysis/layout.html' %}

{% block body %}



<script>
    // JavaScript to render the chart
    document.addEventListener('DOMContentLoaded', function () {

        const dateDataPoints = {{ date_data_points| safe }};
        const qtyDataPoints = {{ qty_data_points| safe }};

        // Filter data: Use null for quantities below 5, so there will be space in the graph
        const filteredQuantities = qtyDataPoints.map((qty) => {
        return qty >= 5 ? qty : null;  // Set to null if qty < 5
        });

        const ctx = document.getElementById('myChart');
        const myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: dateDataPoints,  // Use filtered dates
                datasets: [{
                    label: 'Filtered VO2 Max Readings',
                    data: filteredQuantities,  // Use filtered quantities
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    top: 11
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                y: {
                    ticks: {
                        display: false
                    },
                    border: {
                        display: false
                    }
                }
            }
        }})
        
        const ctx2 = document.getElementById('mySecondChart');
        const mySecondChart = new Chart(ctx, {
            type: 'line',
            data: {
                datasets: [{
                    data: filteredQuantities,  // Use filtered quantities
                    backgroundColor: 'rgba(54, 162, 235, 0.2)',
                    borderColor: 'rgba(54, 162, 235, 1)',
                    borderWidth: 1
                }]
            },
        options: {
            maintainAspectRatio: false,
            layout: {
                padding: {
                    bottom: 36
                }
            },
            plugins: {
                legend: {
                    display: false
                }
            },
            scales: {
                x: {
                    ticks: {
                        display: false
                    },
                    gridlines: {
                        display: false
                    }                
                },
                y: {
                    afterFit: (c) => {
                            c.width = 40;
                    }
                }
            }
        }})

    });
</script>

{% endblock %}